<h1> Welcome Page</h1>

<%= link_to "Create New User", new_user_path %><br/>
<%= link_to "Already a user, Click Here!", login_path %><br/>
<%= link_to "Story Index for visitors", all_stories_path %><br/>
