<h1> Welcome to Fun Times</h1>

<%= image_tag('http://i.huffpost.com/gen/2130862/images/o-VOICE-SOUNDS-WEIRD-facebook.jpg', size: "720x320") %><br/>

<%= link_to "Create New User", new_user_path %><br/>
<%= link_to "Already a user, Click Here!", login_path %><br/>
<%= link_to "Story Index for visitors", all_stories_path %><br/>
