<h1>Edit your Eulogy</h1>
<p> (This feature still under construction - deal with the Tom Selleck crab a little longer ^^) </p>

<%= form_for(@story) do |f| %>
  <%= f.label :picture, "Place Image URL here:" %><br/>
  <%= f.text_field :picture %><br/>
  <%= f.submit %>
<% end %>
