<h1>Edit your Eulogy: Add a Picture</h1>

<%= form_for [@user, @story] do |f| %>
  <%= f.label :picture, "Place Image URL here:" %><br/>
  <%= f.text_field :picture %><br/>
  <%= f.submit %>
<% end %>
